<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">Register Here</div>
        <div class="card-body">
            <form #signupForm=ngForm (ngSubmit)="onSubmit()">

                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="inputName" [(ngModel)]="form.name" required>
                    </div>
                </div>
                <div class="alert alert-danger" [hidden]="!error.name">
                    {{error.name}}
                </div>

                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="inputEmail" [(ngModel)]="form.email" required>
                    </div>
                </div>
                <div class="alert alert-danger" [hidden]="!error.email">
                    {{error.email}}
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="inputPassword" [(ngModel)]="form.password" required>
                    </div>
                </div>
                <div class="alert alert-danger" [hidden]="!error.password">
                    {{error.password}}
                </div>

                <div class="form-group row">
                    <label for="inputPasswordConfirm" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password_confirm" id="inputPasswordConfirm" [(ngModel)]="form.password_confirm" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 offset-2">
                        <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>

                        <a routerLink="/login" class="btn btn-info float-right">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>